/* Universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Centering entire the body items and giving it background and font styles */
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg,   #822E81 ,  #cdabcd);
    font-family: "Roboto", sans-serif;  
}

/* Making the textbox (user input) container (adding background height and width) */

.container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 25%;
    width: 50%;
    margin-top: 3rem;
    background-color: #fff;
    border-radius: 20px;
}

/* Making a header div to align h1 and icon tag */
.header{
    display: flex;
    align-items: center;
}

/* H1 styling */
h1{
    font-size: 1.8rem;
    margin-left: 50px;
    margin-top: 18px;
    color: #822E81;
    text-shadow: 3px 3px 5px #cdabcd;

}
/* Styling icon */
.flag{
    margin-top: 20px;
    margin-left: 20px;
    color:#822E81;
  
}

/* Creating a fields container to align text box and button (making the container relative positioned) */
.fields{
    align-self: center;
    display: flex;
    width: 75%;
    justify-content: center;
    position: relative;
}
/* Styling the text box (field-input): on hover/ focus the box shadow should be inverted( adding an animation effect) */
.field-input{
    width: 100%;
    height: 2.2rem;
    color: #822E81;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    box-shadow: 3px 3px 1px #cdabcd, -3px -3px 1px #822E81;
    transition: 0.2s linear;
}
.field-input:focus{
    border: none;
    outline: none;
    padding-left: 20px;
    box-shadow: 3px 3px 1px #822E81, -3px -3px 1px #cdabcd;
    
}

/* Styling the button input (making the button absolute positioned so that the button can be setted inside the text box*/
.field-btn{
    position: absolute;
    top: 50%;
    left:100%;
    transform: translate(-110%, -50%);
    background: linear-gradient(90deg,   #cdabcd ,  #822E81);
    box-shadow:  -1px -1px 1px #822E81;
    border: none;
    border-radius:50%;
    width: 3rem;
    height: 100%;
    color: #fff;
    transition: 0.2s linear;
}
.field-btn:focus{
    background: linear-gradient(90deg,   #822E81 ,  #cdabcd);
    box-shadow:  1px 1px 1px #cdabcd;
}

/* List items styling */
.item{
    margin-top: 20px;
    display:flex;
    justify-content: space-between;
    padding: 0 30px;
    background-color: #fff;
    border-radius: 20px;
    align-items: center;
    width:50%;
    height: 10%;
    transition: 0.2s linear;
}
/* Styling the list item which is added from the input */
.item-para{
    font-size: 1.2rem;
    color:  #822E81;
    font-weight: 500; 
    text-shadow: 1px 1px 2px #cdabcd;
}
/* Styling the delete button */
.del-btn{
    background: linear-gradient(90deg,   #cdabcd ,  #822E81);
    width: 3rem;
    height: 2rem;
    color: #fff;
    border:none;
    border-radius: 5px;
    box-shadow:  1px 1px 1px #cdabcd;
   
}