*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,   #822E81 ,  #cdabcd);
    font-family: "Roboto", sans-serif;
   
}

h1{
    font-size: 2rem;
    text-align: left;
    margin-left: 50px;
    margin-top: 20px;
    color: #666;

}
.container{
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    flex-direction: column;
    width: 50%;
    height: 30%;
}
